.item, .pet{
  padding: 10px;
  border-style: solid;
  width: 140px;
  height: 300px;
}

.activeItem {
  background-color: green;
}

p {
  display: grid;
}

.petProfile {
  width: 100px;
  height: 100px;
}

.itemProfile {
  width: 100px;
  height: 100px;
}