.draco {
  background: radial-gradient(50% 50% at 50% 50%, rgb(84.3, 169.07, 70.5) 2.04%, rgb(111, 238, 180) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.draco .overlap-wrapper-6 {
  border: 1px none;
  height: 982px;
  width: 1512px;
}

.draco .overlap-19 {
  height: 974px;
  position: relative;
  top: 8px;
}

.draco .main-rectangle-card-2 {
  height: 962px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 1512px;
}

.draco .card-DRK {
  height: 709px;
  left: 208px;
  position: absolute;
  top: 182px;
  width: 1068px;
}

.draco .buttons-DRK {
  height: 48px;
  left: 438px;
  position: absolute;
  top: 661px;
  width: 630px;
}

.draco .left-button-DRK {
  z-index: 1;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 213px;
}

.draco .overlap-group-11 {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 20px;
  height: 48px;
  position: relative;
  width: 211px;
}

.draco .text-wrapper-39 {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 63px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.draco .right-button-DRK {
  height: 48px;
  left: 238px;
  position: absolute;
  top: 0;
  width: 394px;
}

.draco .overlap-20 {
  background-color: #79ee6f;
  border-radius: 20px;
  height: 48px;
  position: relative;
  width: 392px;
}

.draco .view-variants-3 {
  height: 14px;
  left: 142px;
  position: absolute;
  top: 17px;
  width: 111px;
}

.draco .overlap-21 {
  height: 204px;
  left: 0;
  position: absolute;
  top: 0;
  width: 282px;
}

.draco .header-5 {
  background-color: transparent;
  height: 204px;
  left: 0;
  position: absolute;
  top: 0;
  width: 282px;
}

.draco .text-wrapper-40 {
  color: #ffffff;
  font-family: "McLaren", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 120px;
  width: 278px;
}

.draco .main-heading-text-5 {
  color: #ffffff;
  font-family: "Metropolis-Black", Helvetica;
  font-size: 50px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 278px;
}

.draco .line-5 {
  height: 3px;
  left: 2px;
  position: absolute;
  top: 189px;
  width: 253px;
}



.draco .draco-img {
  height: 891px;
  left: 685px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 681px;
}
